@charset "UTF-8";

/* header 레이아웃 */

header {
	height: 200px;
	/*
	border: 1px solid red;
	box-sizing: border-box;
	*/
}

/* header 내부 레이아웃 */

.h_top {
	height: 75px;
	background-color: #FFEBF0;
	/*
	border: 1px solid;
	box-sizing: border-box;
	*/
}

.h_topMenu {
	height: 75px;
	margin-left: 75px;
	margin-right: 75px;
	/*
	border: 1px solid green;
	box-sizing: border-box;
	*/
}

.h_topMenu_span {
	float: left;
	line-height: 75px;
}

.h_topMenu_span>a {
	margin-left: 10px;
	text-decoration-line: none;  
}

.h_topMyMenu_1nav {
	float: right;
	line-height: 75px;
	margin-right: 10px;
}

.h_topMyMenu_1nav>a {
	margin-right: 10px;
	text-decoration-line: none;  
}

.h_bot {
	height: 125px;
	background-color: #FFCFDA;
	/*
	border: 1px solid;
	box-sizing: border-box;
	*/
}

.h_bottom {
	margin-left: 100px;
	margin-right: 100px;
	height: 125px;
	/*
	border: 1px solid red;
	box-sizing: border-box;
	*/
}

.h_bottom_logo {
	float: left;
	height: 125px;
}

.h_bottom_logo>h1 {
	padding-top: 15px;
	margin-right: 50px;
}

.h_bottom-menu {
	float: right;
	padding-right: 200px;	
	text-decoration-line: none;
	padding-top: 22px;
}


/* section 레이아웃 및 내부 레이아웃 */

section {
	height: 750px;
	/*
	border: 1px solid;
	box-sizing: border-box;
	*/
	
}

.wrap {
	height:715.8px;
	width: 500px;
	margin: 0 auto;
	margin-top: 35px;
	border: 1px solid;
	box-sizing: border-box;	
}

.login-input {
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	padding: 18px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}

input[type=button] {
	width: 100%;
	border: none;
	border-radius: 4px;
	padding: 18px 30px;
	align-content: center;
	box-shadow: 1px 2px gray;
}

input[type=password] {
	margin-bottom: 10px;
}

input[type=submit] {
	background-color: #D2FFD2;
	color: rgb(57, 27, 27);	
	border: none;
	border-radius: 4px;
	width: 100%;
	padding: 18px 30px;
	box-shadow: 1px 2px gray;
}

.idcheck-btn{
	background-color: #ff99cc;  
	color: rgb(57, 27, 27);
}

.log-btn {
	margin-top: 2px;
	background-color: #C0FFFF;
}

.Kakao-btn {
	margin-top: 2px;
	background-color: #FFFF96;
	color: rgb(57, 27, 27);	
}

/* footer 레이아웃 및 내부 레이아웃 */

footer {
	height: 400px;
	background-color: #5a5a5a;
	/*
	border: 1px solid;
	box-sizing: border-box;
	*/
}

.f_top_1div {
	height: 100px;
	background-color: #dcdcdc;
	/*
	border: 1px solid;
	box-sizing: border-box;
	*/
}

.f_top_title {
	height: 100px;
	width: 1300px;
	margin: 0 auto;
	line-height: 100px;
	text-align: center;
	/*
	border: 1px solid;
	box-sizing: border-box;
	*/
}

.f_top_title>a:nth-child(1) {
	  text-decoration-line: none;
}

.f_top_title>a:nth-child(2) {
	  text-decoration-line: none;
	  margin-left: 50px;
	  margin-right: 50px;
}

.f_top_title>a:nth-child(3) {
	  text-decoration-line: none;
	  margin-right: 50px;
}

.f_top_title>a:nth-child(4) {
	  text-decoration-line: none;
	  margin-right: 50px;
}

.f_top_title>a:nth-child(5) {
	  text-decoration-line: none;
}

.f_bottom {
	width: 1300px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	/*
	border: 1px solid;
	box-sizing: border-box;
	*/
}

.f_bottom>a {
	color: white;
} 

.f_bottom>a:nth-child(1) {
	text-decoration-line: none;
}

.f_bottom>a:nth-child(2) {
	text-decoration-line: none;
	margin-left: 100px;
}

.f_bottom>a:nth-child(3) {
	text-decoration-line: none;
	margin-left: 100px;
}

.f_bottom>a:nth-child(4) {
	text-decoration-line: none;
	margin-left: 100px;
}

.f_bottom>a:nth-child(5) {
	text-decoration-line: none;
	margin-left: 100px;
}

.f_bottom>a:nth-child(6) {
	text-decoration-line: none;
	margin-left: 100px;
}







